.fixed-left-bottom {
  left: auto;
  right: 15px;
}

.fixed-left-bottom .btn.btn-purple.btn-purple_outline {
  border-color: #F26B18;
  color: #F26B18;
}

.fixed-left-bottom .btn.btn-purple.btn-purple_outline:hover {
  background-color: #F26B18;
  color: #fff;
}

.single-wp_ideas .section.section-single .authors {
  margin-bottom: 15px;
}

.single-wp_ideas .section.section-single .download {
  margin-bottom: 50px;
}

.single-wp_ideas .section.section-single .download p{
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.single-wp_ideas .section.section-single .download p a {
  color: #F2B704;
  text-decoration: none;
}

.single-wp_ideas .section.section-single .download .icon{
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(242, 183, 4, 0.1);
  margin-right: 10px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
}

.single-wp_ideas .section.section-single .download .icon i {
  font-size: 24px;
}

#page-ideas .ideas-column.column.even.resultado.first-of-type .ideas-item {
  margin-top: 15px;
}

#page-ideas .ideas-column.column.even.resultado.first-of-type {
  padding-top: 50px;
}

.fancybox-ajax-container .fancybox-ajax-content .fancybox-content .container {
  max-width: 100%;
}
